* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  background-size: auto;
  font-size: 16px;
  font-family: arial, sans-serif; }

.container {
  margin: 0 auto;
  width: 78.125%; }

.section_bg-1 {
  /* background-image: url('../img/bgLayer-1.jpg');
  height: 750px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;*/
  height: 750px;
  /*height: 1067px;*/ }
  .section_bg-1 .logoNavSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section_bg-1 .logoNavSocial .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .section_bg-1 .logoNavSocial .logo a {
        margin: 20px 0; }
  .section_bg-1 .hamburger {
    display: none;
    cursor: pointer;
    height: 26px;
    width: 30px; }
    .section_bg-1 .hamburger div {
      margin-bottom: 8.7px;
      content: "";
      width: 30px;
      height: 2px;
      background: #ffffff;
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center; }
  .section_bg-1 .open_hamburger div:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .section_bg-1 .open_hamburger div:nth-child(2) {
    width: 0;
    opacity: 0; }
  .section_bg-1 .open_hamburger div:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .section_bg-1 .navSocial {
    /*width: 69.12%;*/
    /*width: 863px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section_bg-1 .navSocial ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .section_bg-1 .navSocial li {
      position: relative;
      display: inline-block; }
    .section_bg-1 .navSocial li a {
      display: block;
      font-family: GenBkBasB, sans;
      font-size: 1.3125em;
      text-decoration: none;
      color: #ffffff;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .section_bg-1 .navSocial nav a {
      padding: 50px 12px; }
    .section_bg-1 .navSocial nav li:before {
      content: '';
      position: absolute;
      left: 50%;
      height: 5px;
      width: 0;
      opacity: 0;
      background: #ffffff;
      display: block;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: background .3s,width .2s;
      transition: background .3s,width .2s; }
    .section_bg-1 .navSocial nav li:hover:before {
      opacity: 1;
      width: 100%; }
    .section_bg-1 .navSocial .socialIcons a {
      font-size: 1.125em;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .section_bg-1 .navSocial .socialIcons a:hover {
      color: #dab33e; }
  .section_bg-1 .logo a {
    font-family: YesevaOne-Regular, sans;
    font-size: 2.25em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none; }
  .section_bg-1 .socialIcons a {
    color: #ffffff; }
  .section_bg-1 div.container {
    /*text-align: center;*/ }
    .section_bg-1 div.container img {
      /*padding-bottom: 5%;*/ }
    .section_bg-1 div.container div a {
      display: inline-block;
      font-family: Lato-Regular, sans-serif;
      font-size: 1.125em;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 20px 50px;
      -webkit-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;
      /*outline-offset: -5px;*/ }
    .section_bg-1 div.container div a:first-child {
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
      margin-right: 1%;
      white-space: nowrap; }
    .section_bg-1 div.container div a:last-child {
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      margin-top: 10px;
      margin-left: 1%;
      white-space: nowrap; }
    .section_bg-1 div.container div a:hover {
      border: 1px solid #ffffff; }
  .section_bg-1 h1 {
    font-family: YesevaOne-Regular, sans;
    font-size: 5.625em;
    text-align: center;
    color: #ffffff; }
  .section_bg-1 .moto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*height: 629px;*/
    /*height: 750px;*/ }
    .section_bg-1 .moto img {
      padding: 35px 0;
      width: 232px;
      -ms-flex-item-align: center;
      align-self: center; }
    .section_bg-1 .moto h1 {
      line-height: 1.2em; }
    .section_bg-1 .moto .moto_buttons {
      text-align: center;
      padding-bottom: 10%; }
  .section_bg-1 .moto h1:first-child {
    padding-top: 10%; }
  .section_bg-1 .moto h1:nth-child(2) {
    /*padding-bottom: 5%;*/ }
  @media all and (max-width: 990px) {
    .section_bg-1 .wrapper {
      width: 100%;
      background: rgba(0, 0, 0, 0.85); }
      .section_bg-1 .wrapper .logoNavSocial {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .section_bg-1 .wrapper .logoNavSocial .navSocial {
          position: absolute;
          top: 76px;
          left: 0;
          padding: 0 5%;
          background: black;
          width: 100%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          max-height: 0;
          overflow: hidden;
          -webkit-transition: max-height 0.3s ease-out;
          transition: max-height 0.3s ease-out; }
          .section_bg-1 .wrapper .logoNavSocial .navSocial nav {
            width: 100%; }
            .section_bg-1 .wrapper .logoNavSocial .navSocial nav ul {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column; }
              .section_bg-1 .wrapper .logoNavSocial .navSocial nav ul li:before {
                content: none; }
              .section_bg-1 .wrapper .logoNavSocial .navSocial nav ul li:hover a {
                color: #dab33e; }
              .section_bg-1 .wrapper .logoNavSocial .navSocial nav ul a {
                padding: 10px 0; }
          .section_bg-1 .wrapper .logoNavSocial .navSocial .socialIcons {
            /*display: flex;
            justify-content: center;*/
            width: 100%; }
            .section_bg-1 .wrapper .logoNavSocial .navSocial .socialIcons ul {
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center; }
            .section_bg-1 .wrapper .logoNavSocial .navSocial .socialIcons a {
              padding: 10px; }
        .section_bg-1 .wrapper .logoNavSocial .open_navSocial {
          max-height: 285px; }
        .section_bg-1 .wrapper .logoNavSocial .hamburger {
          display: block; } }
  @media all and (min-width: 1600px) {
    .section_bg-1 .sticky {
      width: 1600px; } }
  @media all and (max-width: 767px) {
    .section_bg-1 .moto h1 {
      font-size: 4.3em;
      line-height: 1.2em; } }

@media all and (max-width: 1090px) {
  .container {
    width: 90%; } }

.parallax-window {
  /*min-height: 750px;*/
  background: transparent; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  -webkit-transition: background 1s ease-out;
  transition: background 1s ease-out;
  z-index: 2; }

.sticky + .moto {
  padding-top: 121px; }

/*****************/
/*pattern1*/
/******************/
.pattern1 {
  text-align: center;
  /*width: 100%;*/ }
  .pattern1 .pattern_cookAndDish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .pattern1 .pattern_cookAndDish .pattern_cookAndDish_cook {
      -ms-flex-preferred-size: 345px;
      flex-basis: 345px;
      width: 35%;
      text-align: center;
      /*width: 34.4%;*/ }
      .pattern1 .pattern_cookAndDish .pattern_cookAndDish_cook h2 {
        padding-top: 50px;
        font-family: YesevaOne-Regular, sans;
        font-size: 2.25em;
        color: #cc9900; }
      .pattern1 .pattern_cookAndDish .pattern_cookAndDish_cook p {
        font-family: Lato-Regular, sans-serif;
        font-size: 1em;
        color: #4c4c4c; }
      .pattern1 .pattern_cookAndDish .pattern_cookAndDish_cook h2 + img {
        padding: 25px 0; }
      .pattern1 .pattern_cookAndDish .pattern_cookAndDish_cook :last-child {
        padding-bottom: 30px; }
      .pattern1 .pattern_cookAndDish .pattern_cookAndDish_cook p:last-of-type {
        padding-bottom: 25px; }
    .pattern1 .pattern_cookAndDish .pattern_cookAndDish_dish {
      padding: 20px 0 0 0;
      width: 63.388%; }
      .pattern1 .pattern_cookAndDish .pattern_cookAndDish_dish img {
        -ms-flex-preferred-size: 621px;
        flex-basis: 621px; }
    @media all and (max-width: 1220px) {
      .pattern1 .pattern_cookAndDish .pattern_cookAndDish_dish {
        width: 490px; }
        .pattern1 .pattern_cookAndDish .pattern_cookAndDish_dish img {
          width: 100%; } }
    @media all and (max-width: 945px) {
      .pattern1 .pattern_cookAndDish .pattern_cookAndDish_cook {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
      .pattern1 .pattern_cookAndDish .pattern_cookAndDish_dish {
        width: 621px; } }

.fineIngredients {
  height: 758px; }

.fineIngedients_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }
  .fineIngedients_wrapper .fineIngedients_wrapper_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 490px;
    margin: 100px 0;
    padding: 80px 60px;
    background: rgba(0, 0, 0, 0.5); }
    .fineIngedients_wrapper .fineIngedients_wrapper_container h2 {
      font-family: YesevaOne-Regular, sans;
      font-size: 2.25em; }
    .fineIngedients_wrapper .fineIngedients_wrapper_container h2 + img {
      width: 247px;
      padding-top: 20px; }
    .fineIngedients_wrapper .fineIngedients_wrapper_container p:first-of-type {
      padding-top: 20px;
      text-align: center; }
    .fineIngedients_wrapper .fineIngedients_wrapper_container p:last-of-type {
      padding-bottom: 50px; }
    .fineIngedients_wrapper .fineIngedients_wrapper_container p {
      font-family: Lato-Regular, sans;
      font-size: 1em; }
    .fineIngedients_wrapper .fineIngedients_wrapper_container h2, .fineIngedients_wrapper .fineIngedients_wrapper_container p {
      color: #ffffff; }
    .fineIngedients_wrapper .fineIngedients_wrapper_container .fineIngedients_wrapper_container_ingredients {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%; }
  @media all and (max-width: 945px) {
    .fineIngedients_wrapper .fineIngedients_wrapper_container {
      width: 100%; }
    .fineIngedients_wrapper .fineIngedients_wrapper_container .fineIngedients_wrapper_container_ingredients {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .fineIngedients_wrapper .fineIngedients_wrapper_container .fineIngedients_wrapper_container_ingredients img {
        margin: 10px; } }
  @media all and (max-width: 482px) {
    .fineIngedients_wrapper .fineIngedients_wrapper_container {
      text-align: center; } }
  @media all and (max-width: 416px) {
    .fineIngedients_wrapper .fineIngedients_wrapper_container {
      padding: 10px; }
    .fineIngedients_wrapper .fineIngedients_wrapper_container .fineIngedients_wrapper_container_ingredients {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .fineIngedients_wrapper .fineIngedients_wrapper_container .fineIngedients_wrapper_container_ingredients img {
        width: 100px; } }

/***********************/
/*MENU*/
/***********************/
.menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 100px 0 30px 0; }

.menuContainer_item1 h2,
.menuContainer_item2 h2 {
  font-family: YesevaOne-Regular, sans;
  font-size: 2.25em;
  color: #cc9900; }

.menuContainer_item1 h2, .menuContainer_item1 figure,
.menuContainer_item2 h2,
.menuContainer_item2 figure {
  text-align: center; }

.menuContainer_item1 figure,
.menuContainer_item2 figure {
  padding: 5% 0; }

.menuContainer_item1 h3,
.menuContainer_item2 h3 {
  position: relative;
  padding-bottom: 10px;
  font-family: YesevaOne-Regular, sans;
  font-size: 1.3125em;
  color: #c89f2d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(200, 159, 45, 0.5); }
  .menuContainer_item1 h3 span,
  .menuContainer_item2 h3 span {
    position: absolute;
    right: 0; }

.menuContainer_item1 li,
.menuContainer_item2 li {
  position: relative;
  padding-bottom: 50px; }

.menuContainer_item1 p,
.menuContainer_item2 p {
  padding-top: 10px;
  font-family: Lato-Regular, sans;
  font-size: 1em;
  color: #4c4c4c; }

.menuContainer_item1 li.special:before,
.menuContainer_item2 li.special:before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: 32px;
  left: -10px;
  right: -10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(200, 159, 45, 0.5); }

.menuContainer_item1 li.special:after,
.menuContainer_item2 li.special:after {
  content: "Special";
  position: absolute;
  right: -10px;
  top: -36px;
  padding: 5px 10px;
  background: rgba(200, 159, 45, 0.8);
  font-family: Lato-Regular, sans;
  font-size: 1em;
  color: #ffffff; }

.menuContainer_item1 ul {
  padding: 0 35px 20px 0; }

.menuContainer_item2 ul {
  padding: 0 0 20px 35px; }

@media all and (max-width: 943px) {
  .menuContainer_item1,
  .menuContainer_item2 {
    width: 100%; }
  .menuContainer_item1 ul {
    padding: 0 0 20px 0; }
  .menuContainer_item2 ul {
    padding: 0 0 20px 0; } }

/*********************/
/*CAROUSEL*/
/*********************/
.guestReviews {
  height: 758px; }

.guestReviews_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.guestReviews_wrapper_container {
  text-align: center;
  width: 770px;
  padding: 80px 20px 80px 20px;
  background: rgba(0, 0, 0, 0.7); }
  .guestReviews_wrapper_container h2 {
    font-family: YesevaOne-Regular, sans;
    font-size: 2.25em;
    color: #ffffff; }
  .guestReviews_wrapper_container img {
    padding: 20px 0; }

.carousel_item {
  position: relative;
  padding: 0 40px; }
  .carousel_item i {
    position: absolute;
    left: 0;
    color: #989a96;
    font-size: 2em;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .carousel_item p {
    font-family: GenBkBasB, sans;
    font-size: 1.5625em;
    color: #ffffff; }
  .carousel_item p:last-child {
    padding-top: 40px;
    font-family: Lato-Regular, sans;
    font-size: 1.125em;
    color: #ffffff; }

.itemSmall {
  top: 30px; }

.owl-theme .owl-dots .owl-dot {
  outline: none !important; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px; }

@media all and (max-width: 945px) {
  .guestReviews_wrapper_container {
    width: 100%; } }

@media all and (max-width: 416px) {
  .guestReviews_wrapper_container {
    padding: 10px; } }

/********************/
/*FORM*/
/********************/
.jtrf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 100px 0; }

.jtrf_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-basis: 510px;*/
  width: 510px; }
  .jtrf_images figure {
    /*display: grid;*/ }
  .jtrf_images figure:first-child {
    padding-right: 10px; }
  .jtrf_images figure:last-child {
    padding-left: 10px; }

.jtrf_form {
  margin: 0 10px;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px; }
  .jtrf_form h2 {
    padding-top: 50px;
    font-family: YesevaOne-Regular, sans;
    font-size: 2.25em;
    color: #cc9900; }
  .jtrf_form img {
    padding: 25px 0; }
  .jtrf_form p {
    font-family: Lato-Regular, sans-serif;
    font-size: 1em;
    color: #4c4c4c; }
  .jtrf_form h2, .jtrf_form figure, .jtrf_form p {
    text-align: center; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 30px; }
  form label {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.875em;
    color: #d0b157; }
  form input,
  form select {
    outline-color: #d0b157;
    width: 180px;
    height: 30px; }
  form input:focus,
  form select:focus {
    border-color: transparent;
    background-color: rgba(208, 177, 87, 0.05); }
  form input, form select, form label {
    display: block; }
  form input[type="submit"] {
    -ms-flex-item-align: center;
    align-self: center;
    margin: 20px 0;
    background: #c9a131;
    color: #ffffff;
    border: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  form input[type="submit"]:hover {
    background: #8e7223;
    cursor: pointer; }

.jtrf_form_nameEmail,
.jtrf_form_datePartynumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .jtrf_form_nameEmail div,
  .jtrf_form_datePartynumber div {
    padding: 10px 10px; }

@media all and (max-width: 1265px) {
  .jtrf_form h2 {
    padding-top: 0; }
  .jtrf_images {
    width: 480px; }
    .jtrf_images img {
      width: 100%; } }

@media all and (max-width: 1170px) {
  .jtrf_form img {
    padding: 10px 0; }
  form {
    padding-top: 10px; }
  .jtrf_images {
    width: 450px; }
    .jtrf_images img {
      width: 100%; } }

@media all and (max-width: 1130px) {
  .jtrf_images {
    width: 415px; }
    .jtrf_images img {
      width: 100%; } }

@media all and (max-width: 943px) {
  .jtrf {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 60px 0; }
  .jtrf_images {
    width: 510px; }
    .jtrf_images img {
      width: 100%; }
  .jtrf_form {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
    .jtrf_form h2 {
      padding-top: 40px; }
    .jtrf_form img {
      padding: 5% 0; }
  form input:not([type="submit"]),
  form select {
    width: 100%; }
  .jtrf_form_nameEmail,
  .jtrf_form_datePartynumber {
    display: block; } }

/*************/
/*FOOTER*/
/*************/
footer {
  background: #191919; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer_item {
  margin: 65px 0;
  width: 350px;
  text-align: center; }
  .footer_item h2 {
    font-family: YesevaOne-Regular, sans;
    font-size: 1.3125em;
    color: #fefefe; }
  .footer_item img {
    padding: 18px 0; }
  .footer_item p {
    font-family: OpenSans-Regular, sans;
    color: #f0f0f0; }
    .footer_item p span {
      font-family: OpenSans-Bold, sans; }

@media all and (max-width: 1360px) {
  .footer_item {
    width: 300px; } }

@media all and (max-width: 1153px) {
  .footer_item {
    width: 284px; } }

@media all and (max-width: 943px) {
  .footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }
