

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  font-size: 16px;
  font-family: arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 78.125%;
}

.section_bg-1 {
 /* background-image: url('../img/bgLayer-1.jpg');
  height: 750px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;*/




  .logoNavSocial {
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        margin: 20px 0;
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    height: 26px;
    width: 30px;

    div {
      margin-bottom: 8.7px;
      content: "";
      width: 30px;
      height: 2px;
      background: #ffffff;
      transition: .25s ease-in-out;
      transform-origin: left center;
    }

  }
  .open_hamburger div:nth-child(1) {
    transform: rotate(45deg);
  }

  .open_hamburger div:nth-child(2) {
    width: 0;
    opacity: 0;
  }

  .open_hamburger div:nth-child(3) {
    transform: rotate(-45deg);
  }


  .navSocial {
    /*width: 69.12%;*/
    /*width: 863px;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      display: flex;

    }
    li {
      position: relative;
      display: inline-block;
    }

    li  a {
      display: block;
      font-family: GenBkBasB, sans;
      font-size: 1.3125em;
      text-decoration: none;
      color: #ffffff;
      transition: all 0.3s ease-out;
    }

    nav a {
      padding: 50px 12px;
    }

    nav li:before {
      content: '';
      position: absolute;
      left: 50%;
      height: 5px;
      width: 0;
      opacity: 0;
      background: #ffffff;
      display: block;
      transform: translateX(-50%);
      transition: background .3s,width .2s;
    }

    nav li:hover:before {
      opacity: 1;
      width: 100%;
    }

    .socialIcons a {
      font-size: 1.125em;
      transition: all 0.3s ease-out;
    }

    .socialIcons a:hover {
      color: #dab33e;
    }

  }


  .logo a {
    font-family: YesevaOne-Regular, sans;
    font-size: 2.25em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }

  .socialIcons a {
    color: #ffffff;
  }

  div.container {
    text-align: center;

    img {
      padding-bottom: 5%;
    }

    div a {
      display: inline-block;
      font-family: Lato-Regular, sans-serif;
      font-size: 1.125em;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 2% 4%;
      transition: all 0.1s ease-out;
      /*outline-offset: -5px;*/
    }

    div a:first-child {
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.5);
      margin-right: 1%;
      white-space: nowrap;

    }

    div a:last-child {
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      margin-left: 1%;
      white-space: nowrap;

    }

    div a:hover {
      border: 1px solid #ffffff;
    }
  }

  h1 {
    font-family: YesevaOne-Regular, sans;
    font-size: 5.625em;
    text-align: center;
    color: #ffffff;
  }

  .moto {
   /* display: flex;
    flex-direction: column;
    justify-content: center;*/
    .pillow {
      /*height: 100px;*/
    }
    h1 {
      line-height: 1.2em;
    }
  }

  .moto h1:first-child {
    padding-top: 10%;
  }

  .moto h1:nth-child(2) {
    padding-bottom: 5%;
  }




  @media (max-width: 1090px) {
    .container {
      width: 90%;
    }
  }

  @media (max-width: 990px) {
    .wrapper {
      width: 100%;
      background: rgba(0, 0, 0, 0.85);

      .logoNavSocial {
        flex-direction: column;
        justify-content: flex-start;


        .navSocial {
          position: absolute;
          top: 76px;
          left: 0;
          padding: 0 5%;
          background: rgb(0, 0, 0);
          width: 100%;
          flex-direction: column;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;

          nav {
            width: 100%;

            ul {
              flex-direction: column;
              li:before {
                content: none;
              }
              li:hover a {
                color: #dab33e;
              }

              a {
                padding: 10px 0;
              }
            }
          }


          .socialIcons {
            /*display: flex;
            justify-content: center;*/
            width: 100%;
            ul {
              justify-content: center;
            }
            a {
              padding: 10px;
            }
          }
        }
        .open_navSocial {
          max-height: 285px;


        }
        .hamburger {
          display: block;
        }
      }
    }

  }

  @media (max-width: 767px)  {
    .moto h1 {
      font-size: 4.3em;
      line-height: 1.2em;
    }
  }

}


.parallax-window {
  min-height: 750px;
  background: transparent;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  transition: background 1s ease-out;
}

.sticky + .moto {
  padding-top: 121px;
}



/*****************/
/*pattern1*/
/******************/

.pattern1 {
  background-image: url('../img/pattern-1.jpg');
  height: 710px;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

