

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  /*max-width: 1600px;
  width: 100%;*/
  font-size: 16px;
  font-family: arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 78.125%;
}

.section_bg-1 {
 /* background-image: url('../img/bgLayer-1.jpg');
  height: 750px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;*/

  .logoNavSocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .navSocial {
    width: 69.12%;
    /*width: 863px;*/
    display: flex;
    justify-content: center;
    ul {
      display: flex;

    }
    li {
      display: inline-block;

      /*padding: 0 1.5%;*/
    }
    a {
      padding: 0 10px;
      text-decoration: none;
      color: #ffffff;
    }
  }



  .logo a {
    font-family: YesevaOne-Regular, sans;
    font-size: 2.25em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }

  .socialIcons a {
    color: #ffffff;
  }

  .test {
    font-size: 120px;
    color: red;
  }

}

.parallax-window {
  min-height: 750px;
  background: transparent;
}