

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  /*max-width: 1600px;*/
  /*width: 100%;*/
  font-size: 16px;
  font-family: arial, sans-serif;
}

.section_bg-1 {
  background: url('../img/food-bg-1.jpg');
  min-height: 750px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0px;

}

.parallax-window {
  min-height: 750px;
  background: transparent;

}