* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  font-size: 16px;
  font-family: arial, sans-serif; }

.container {
  margin: 0 auto;
  width: 78.125%; }

.section_bg-1 {
  /* background-image: url('../img/bgLayer-1.jpg');
  height: 750px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;*/ }
  .section_bg-1 .logoNavSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section_bg-1 .logoNavSocial .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .section_bg-1 .logoNavSocial .logo a {
        margin: 20px 0; }
  .section_bg-1 .hamburger {
    display: none;
    cursor: pointer;
    height: 26px;
    width: 30px; }
    .section_bg-1 .hamburger div {
      margin-bottom: 8.7px;
      content: "";
      width: 30px;
      height: 2px;
      background: #ffffff;
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center; }
  .section_bg-1 .open_hamburger div:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .section_bg-1 .open_hamburger div:nth-child(2) {
    width: 0;
    opacity: 0; }
  .section_bg-1 .open_hamburger div:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .section_bg-1 .navSocial {
    /*width: 69.12%;*/
    /*width: 863px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section_bg-1 .navSocial ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .section_bg-1 .navSocial li {
      position: relative;
      display: inline-block; }
    .section_bg-1 .navSocial li a {
      display: block;
      font-family: GenBkBasB, sans;
      font-size: 1.3125em;
      text-decoration: none;
      color: #ffffff;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .section_bg-1 .navSocial nav a {
      padding: 50px 12px; }
    .section_bg-1 .navSocial nav li:before {
      content: '';
      position: absolute;
      left: 50%;
      height: 5px;
      width: 0;
      opacity: 0;
      background: #ffffff;
      display: block;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: background .3s,width .2s;
      transition: background .3s,width .2s; }
    .section_bg-1 .navSocial nav li:hover:before {
      opacity: 1;
      width: 100%; }
    .section_bg-1 .navSocial .socialIcons a {
      font-size: 1.125em;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .section_bg-1 .navSocial .socialIcons a:hover {
      color: #dab33e; }
  .section_bg-1 .logo a {
    font-family: YesevaOne-Regular, sans;
    font-size: 2.25em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none; }
  .section_bg-1 .socialIcons a {
    color: #ffffff; }
  .section_bg-1 div.container {
    text-align: center; }
    .section_bg-1 div.container img {
      padding-bottom: 5%; }
    .section_bg-1 div.container div a {
      display: inline-block;
      font-family: Lato-Regular, sans-serif;
      font-size: 1.125em;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 2% 4%;
      -webkit-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;
      /*outline-offset: -5px;*/ }
    .section_bg-1 div.container div a:first-child {
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.5);
      margin-right: 1%; }
    .section_bg-1 div.container div a:last-child {
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      margin-left: 1%; }
    .section_bg-1 div.container div a:hover {
      border: 1px solid #ffffff; }
  .section_bg-1 h1 {
    font-family: YesevaOne-Regular, sans;
    font-size: 5.625em;
    text-align: center;
    color: #ffffff; }
  .section_bg-1 div.container h1:first-child {
    padding-top: 13%; }
  .section_bg-1 div.container h1:nth-child(2) {
    padding-bottom: 5%; }
  @media (max-width: 1090px) {
    .section_bg-1 .container {
      width: 90%; } }
  @media (max-width: 990px) {
    .section_bg-1 .wrapper {
      width: 100%;
      background: rgba(0, 0, 0, 0.85); }
      .section_bg-1 .wrapper .logoNavSocial {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .section_bg-1 .wrapper .logoNavSocial .navSocial {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          max-height: 0;
          overflow: hidden;
          -webkit-transition: max-height 0.3s ease-out;
          transition: max-height 0.3s ease-out; }
          .section_bg-1 .wrapper .logoNavSocial .navSocial nav {
            width: 100%; }
            .section_bg-1 .wrapper .logoNavSocial .navSocial nav ul {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column; }
              .section_bg-1 .wrapper .logoNavSocial .navSocial nav ul li:before {
                content: none; }
              .section_bg-1 .wrapper .logoNavSocial .navSocial nav ul li:hover a {
                color: #dab33e; }
              .section_bg-1 .wrapper .logoNavSocial .navSocial nav ul a {
                padding: 10px 0; }
          .section_bg-1 .wrapper .logoNavSocial .navSocial .socialIcons {
            /*display: flex;
            justify-content: center;*/
            width: 100%; }
            .section_bg-1 .wrapper .logoNavSocial .navSocial .socialIcons ul {
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center; }
            .section_bg-1 .wrapper .logoNavSocial .navSocial .socialIcons a {
              padding: 10px; }
        .section_bg-1 .wrapper .logoNavSocial .open_navSocial {
          max-height: 285px; }
        .section_bg-1 .wrapper .logoNavSocial .hamburger {
          display: block; } }

.parallax-window {
  min-height: 750px;
  background: transparent; }
